<!-- Page Contents -->
<div class="">
  <h1 class="">Qwickbit</h1>
  <h2 class="">
    The Platform that enables business owners to sell locally and get paid immediatly in Bitcoin
  </h2>
  <%= link_to "Sign up", new_business_path %>
</div>
