<!-- Page Contents -->
<div class="overlay">

  <div class="ui center aligned segment">

    <div class="ui text container" id="landing">
      <h1 class="ui inverted header logo">
        Qwickbit
      </h1>
      <h2 class="h2 txt">The Platform that enables business owners to sell locally and get paid immediatly in Bitcoin
        <br>
        <div class="bitcoin_box"><div class="bitcoinimage bitcoin64x64 animate-spin"></div></div>
        <%#= link_to "Sign up", new_business_path, class: 'ui huge green button block'%>
      <button class='ui huge green button block', id="signupbtn">Sign up</button>
    </h2>
  </div>
  </div>
</div>

<%= render 'layouts/modal_signup' %>
