


<!-- Page Contents -->
<div class="overlay">

  <div class="ui center aligned segment">


    <div class="ui text container" id="landing">
      <h1 class="ui inverted header logo">
        Qwickbit
      </h1>
      <h2>The Platform for business owners to sell locally and get paid immediatly in Bitcoin<p></p>
      <%= link_to "Sign up", new_business_path, class: 'ui huge primary button' %>

    </h2>
  </div>

  </div>
