<div class="landing-contact">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="//i.imgur.com/16U9nm4.jpg" alt="" />
        <h5>Max Plisskin</h5>
        <h5>Full Stack | Product Development | DevOps</h5>
        <p>
          Ruby on Rails, Js jQuery, API, Design , Deployment
        </p>
        <div class="contact-link-wrapper">
          <span>
            <a href="//www.maxplisskin.com/">
            <i class="material-icons">web</i>
            </a>
          </span>
          <span>
            <a href="//github.com/mmplisskin">
            <img class="github" src="//i.imgur.com/fj0MvKx.png" alt="" />
            </a>
          </span>
          <span>
            <a href="//www.linkedin.com/in/maxplisskin">
            <img class="linkedin" src="//i.imgur.com/n8AtH2J.png" alt="" />
            </a>
          </span>
        </div>
      </div>
      <div class="col l6 s12">
        <img src="//i.imgur.com/PTsOBr7.jpg" alt="" />
        <h5>Samuel Chun</h5>
        <h5>Full Stack | FrontEnd | Mobile</h5>
        <p>
          AngularJS, Ionic Framework, Ruby on Rails, Js jQuery, MaterializeCSS
        </p>
        <div class="contact-link-wrapper">
          <span>
            <a href="//www.samchuns.com">
              <i class="material-icons">web</i>
            </a>
          </span>
          <span>
            <a href="//www.github.com/ephapox">
              <img class="github" src="//i.imgur.com/fj0MvKx.png" alt="" />
            </a>
          </span>
          <span>
            <a href="//www.linkedin.com/in/chunresolved">
              <img class="linkedin" src="//i.imgur.com/n8AtH2J.png" alt="" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
