<div class="landing-contact">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="http://s10.postimg.org/athl9f8gp/AAEAAQAAAAAAAAKKAAAAJDdi_ZTk2_Yz_Rl_LTI4_Yz_At_NDdi_YS04.jpg" alt="" />
        <h5>Max Plisskin</h5>
        <h5>Full Stack | DevOps</h5>
        <p>
          Ruby on Rails, Digital Ocean, Nginx, Sidekiq, jQuery
        </p>
      </div>
      <div class="col l6 s12">
        <img src="http://s22.postimg.org/chlp9pyi9/Optimized_IMG_8697.jpg" alt="" />
        <h5>Samuel Chun</h5>
        <h5>Full Stack | FrontEnd | Mobile</h5>
        <p>
          AngularJS, Ionic Framework, Ruby on Rails, jQuery, MaterializeCSS
        </p>
      </div>
    </div>
  </div>
</div>
