<div class="landing-contact">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img src="http://s10.postimg.org/athl9f8gp/AAEAAQAAAAAAAAKKAAAAJDdi_ZTk2_Yz_Rl_LTI4_Yz_At_NDdi_YS04.jpg" alt="" />
        <h5>Max Plisskin</h5>
        <h5>Full Stack | DevOps</h5>
        <p>
          Ruby on Rails, Digital Ocean, Nginx, Sidekiq, jQuery
        </p>
        <div class="contact-link-wrapper">
          <span>
            <i class="material-icons">web</i>
          </span>
          <span>
            <img class="github" src="http://s30.postimg.org/qso2pcpil/Git_Hub_Mark_64px.png" alt="" />
          </span>
          <span>
            <img class="linkedin" src="http://s29.postimg.org/x4b0oyys3/In_2_C_75px_R.png" alt="" />
          </span>
        </div>
      </div>
      <div class="col l6 s12">
        <img src="http://s22.postimg.org/chlp9pyi9/Optimized_IMG_8697.jpg" alt="" />
        <h5>Samuel Chun</h5>
        <h5>Full Stack | FrontEnd | Mobile</h5>
        <p>
          AngularJS, Ionic Framework, Ruby on Rails, jQuery, MaterializeCSS
        </p>
        <div class="contact-link-wrapper">
          <span>
            <a href="http://www.samchuns.com">
              <i class="material-icons">web</i>
            </a>
          </span>
          <span>
            <a href="http://www.github.com/ephapox">
              <img class="github" src="http://s30.postimg.org/qso2pcpil/Git_Hub_Mark_64px.png" alt="" />
            </a>
          </span>
          <span>
            <a href="http://www.linkedin.com/in/chunresolved">
              <img class="linkedin" src="http://s29.postimg.org/x4b0oyys3/In_2_C_75px_R.png" alt="" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
