<div class="landing-cta">
  <div class="container">
    <h2 class="">QwickBit</h2>
    <h4 class="">
      The online platform for businesses to sell locally for Bitcoin
    </h4>
    <% if !current_business %>
    <a href="#modal1" class="modal-trigger wave-effect waves-light btn">Sign Up</a>
    <% end %>
    <%#= link_to "Sign up", new_business_path, class:"wave-effect waves-light btn" %>
  </div>
</div>
