<div class="landing-promo">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <i class="material-icons large">account_balance_wallet</i>
        <h5>
          Create a Bitcoin compatible storefront.
        </h5>
      </div>
      <div class="col l4 s12">
        <i class="material-icons large">local_offer</i>
        <h5>
          List Items and manage or generate wallets.
        </h5>
      </div>
      <div class="col l4 s12">
        <i class="material-icons large">map</i>
        <h5>
          Receive bitcoins for your goods instantly.
        </h5>
      </div>
    </div>
  </div>
</div>
