/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require_tree .
 *= require_self



 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




/*

 *= require rails_bootstrap_forms
*/


// * {
//   border-radius: 0 !important;
// }
#googleMap{

  width: 21vw;
  height: 20vh;
}

textarea {
   resize: none !important;;
   width: 3vw;
}

.form-group {
  padding-top: 1vh;
}

#pub_qrcode{

}



.hidden.menu {
  display: none;
}


#landing{
  position: absolute;
  top: 33vh;
  left: 30vw;
  width: 40vw;
  height: 30vh;
}

.landing{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Portones_Shopping_Mall.png');
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


.signupdiv {
  z-index: 10;
  width: 38vw;
  height: 60vh;
  position: relative;
  top: 17vh;
  left: 19vw;
  background-color: white;
  z-index: 1;
  text-align: center;
}

.overlay {
  z-index: -2;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(12, 13, 35, 0.6);
  }

h1.ui.header{
  font-size: 5vw;
}

h2.h2{
  font-size: 2.3vw;
}

.h2.txt{
  color: #d3d3d3;
}

.ui.grid{
  margin-top: 4vh;
}

input.ui.standard.black.button {
  margin-left: 14vw;
  margin-top: 3vh;
}



#forward_back_btns{
  // position: absolute;
  // top: 44%;
}
// .ui.huge.green.button{
//   display: block;
//   position: absolute;
//   width: 20%;
//   height: 20%;
//   top: 29vh;
//   left: 17vw;
// }
.private_key_wrapper {
  display: none;
}
