/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require_tree .
 *= require_self



 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


/*


*/


/*.new-business {
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
}*/



/*

*/


* {
  border-radius: 0 !important;
}
#googleMap{

  width: 21vw;
  height: 20vh;
}


#qrcode {
}  width:160px;
  height:160px;
  margin-top:15px;



  .hidden.menu {
    display: none;
  }


#landing{
  position: absolute;
  top: 42vh;
  left: 32vw;
}

  .landing{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Portones_Shopping_Mall.png');
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  .overlay {
      z-index: -1;
      height: 100%;
      width: 100%;
      position: fixed;
      overflow: auto;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
  }

  h1.ui.header{
    font-size: 5vw;
  }

  h2{
    font-size: 3vw;
  }

.h2.txt{
  color: #d3d3d3;

}
