
<%= bootstrap_form_for :login do |f| %>
<div class="ui form">
    <%= f.text_field :email, placeholder: 'email@example.com' %>


    <%= f.password_field :password, placeholder: 'password'  %>


    <%= f.submit 'Log In',class: 'ui standard black button'%>
  </div>

<% end %>
